<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            {{!-- <th><abbr title="Post ID Number">PID</abbr></th> --}}
            <th>Username</th>
            {{!-- <th><abbr title="User ID Number">UID</abbr></th> --}}
            <th>Blog Post Title</th>
            <th><abbr title="Date Created">Date</abbr></th>
            <th><abbr title="Number of Comments">Comments</abbr></th>
            <th>Blog Post Content</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            {{!-- <th><abbr title="Post ID Number">PID</abbr></th> --}}
            <th>Username</th>
            {{!-- <th><abbr title="User ID Number">UID</abbr></th> --}}
            <th>Blog Post Title</th>
            <th><abbr title="Date Created">Date</abbr></th>
            <th><abbr title="Number of Comments">Comments</abbr></th>
            <th>Blog Post Content</th>
        </tr>
    </tfoot>
    <tbody>
        {{#if blogposts}}
        {{#each blogposts as |blogpost|}}
        <tr>
            {{!-- <th>{{blogpost.id}}</th> --}}
            <td><a href="/user/{{blogpost.user.id}}">{{blogpost.user.username}}</a></td>
            {{!-- <th>{{blogpost.user_id}}</th> --}}
            <td><a href="/blogposts/{{blogpost.id}}">{{blogpost.title}}</a></td>
            <td>{{format_date blogpost.created_at}}</td>
            <td>{{blogpost.comments.length}}</td>
            <td>{{blogpost.description}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            {{!-- <th>N/A</th> --}}
            <th>No Blog Posts Exist Yet</th>
            {{!-- <th>N/A</th> --}}
            <td><a href="/newpost">Create The First Blog Post!</a></td>
            <td>N/A</td>
            <td>N/A</td>
            <td>Once Blog Posts Have Been Created They Will Appear Here</td>
        </tr>
        {{/if}}
    </tbody>
</table>
{{!-- need javascript logo added here --}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>