<div id="single-page">
    <a id="single-post" href='/blogpost/{{blogpost.id}}'>
        <div id="post-header">
            <p id="post-title">{{blogpost.title}}</p>
            <p id="post-date">Posted by {{blogpost.username}}
                <br />
                on {{format_date blogpost.created_at}}
            </p>
        </div>
         <div id="post-body">
            <p id="blogtext">
                {{blogpost.description}}
            </p>
        </div>
        <div id="post-comments">
            {{commentLengths blogpost.comments}}
        </div>
    </a>
</div>
{{!-- add javascripts here --}}