<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="/images/whosethot.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-2">{{blogPost.user}}</p>
        <p class="subtitle is-4">
            <a href="/user/{{blogPost.user_id}}">See All Of Their Posts!</a>
        </p>
      </div>
    </div>

    <div class="content">
      {{blogPost.description}}
      <br>
      <p>Date Posted: {{format_date blogPost.date}}</p>
    </div>

    <footer class="card-footer">
        {{#if blogPost.comments}}
        <div class="card-comments">
            {{#each blogPost.comments as |comment| }}
                <div class="comment-title">
                    <p class="title is-4">{{comment.user}}</p>
                    <p class="subtitle is-6">{{comment.date}}</p>
                </div>
                {{#if comment.usersComment}}
                <div class="comment-content is-highlighted">
                    {{comment.text}}
                </div>
                <div>
                    <button 
                    class="button is-light editCommentBtn">Edit Comment
                    </button>
                    <button 
                    class="button is-danger deleteCommentBtn">Delete Comment
                    </button>
                </div>
                {{else}}
                <div class="comment-content">
                    {{comment.text}}
                </div>
                {{/if}}
            {{/each}}
        </div>
        {{else}}
        <button class="button is-primary addCommentBtn">Add the First Comment!</button>
        {{/if}}
    </footer>

  </div>
</div>
{{!-- add javascript logic here --}}